*{margin:0;
  padding:0;
  box-sizing:border-box;
}  

.row      {
	       
	       display:flex;
           flex-wrap:wrap;
		    padding-right: 15px;
		   padding-left:15px;
}
/*---
 .container{
	width:100%;
	padding:0 15px;
	overflow:hidden;
}
---*/
.detail-header {

	color:white;
    padding-top:8px;
	background-color:#3fbbc0;
	
}
.dateheader {
	padding-left:294px;
}
.btn {
    color:white!important;
}

/*---------------------  DATA HEADER SECTION END -----------------------------------*/

/*--------------------- HEADER SECTION START -----------------------------------*/


.header-section {
	background-color:white;
	position:fixed;
	width:100%;
	z-index:999;
}


.header-img img {
	width:100%;
	height:auto;
	margin-top:10px;
}
.nav-bar {
	margin-top:18px;
	display:flex;
}
.nav-bar a{
	
	text-decoration:none;
	padding-left:35px;
}
.bg-light {
     background-color:white !important;
}
.header-con .nav-bar >li{
                display:inline-block;
}
.nav-item .color {
	color:#3fbbc0;
}
.nav-item.nav-link2 li:hover{
	color:#3fbbc0 !important;
}
.navbar-brand img{
	height:auto;
	width:150px;
}

.nav-item {
	font-weight:500;
	font-size:13px;
    padding-left:22px!important;
}
.navbar-light .navbar-nav .nav-link2 :hover {
	color:#3fbbc0;
}
.nav-link2 {
	text-decoration:none;
	color:black;
}
.nav-link3  {
	margin-left:100px!important;
	color:#3fbbc0;
	text-decoration:none;
}
.nav-link3:hover {
	color:#3fbbc0;
}
/*-------------------
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link.show>.nav-link {
    margin-left:45px;
}
---------------------*/	
.btn-info3 {
	margin-top:17px;
	margin-bottom:20px;
	background-color:#3fbbc0;
	border-color:#3fbbc0;
	color:white;
}

.btn-info:hover{
	background-color:none;
	color:white;
}
.dropdown-menu {
	z-index:2px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link2 {
    color: rgb(63 187 192)!important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link2:hover {
    color:rgb(63 187 192)!important ;
}

.btn-check:focus+.btn-info, .btn-info:focus {
     color:none!important;
}
/*--------------------- HEADER SECTION END -----------------------------------*/

/*--------------------- BANEER SECTION START -----------------------------------*/

.baneer-section {
	z-index:1px;
	
}

.baneer-con-1 {
	border-top: 4px solid #3fbbc0;
	height:200px;
	width:100%;
    background-color: white;
   
    padding-top: -21px;
    margin-top: -70px;
    opacity:0.9;
}

.baneer-topic-2 {
	text-align:center;
}

.btn-primary{
	color:white;
    background-color:#3fbbc0;
}
.baneer-topic-2 h6{
	color:gray;
	padding-top:20px;
}

.baneer-topic-2 h2{
	font-weight:200px;
	padding-top:20px;

}
.baneer-new {
    border-top: 4px solid #3fbbc0;
	
	background: rgba(255, 255, 255, 0.9);
}

.h5, h5 {
    font-weight:600px;
    color: black;
  
    font-size: 40px;
    padding-top: 13px;
}
.baneer-new p {
    
    color:gray;
    
    font-size:18px;
}

.w-100 {
	display:none!important;
    height: 546px;
}

.carousel-item  {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	height:500px;
}

/*--------------------- BANEER SECTION end -----------------------------------*/
/*--------------------- medicion SECTION START -----------------------------------*/

.medicion-section {
	background-color:white;
	
    
}

.medicion-sheet {
	position:relative;
	box-shadow:0 0 29px 0 rgb(68 88 144 / 12%);
	padding-top:25px;
	padding-left:20px;
    margin-bottom:30px;
	margin-top:20px;
	background-color:white;
    height:250px;
	border-radius:8px; 
	z-index:1;
}
.medicion-sheet:after{
	content:"";
	position:absolute;
	top:250px;
	left:0;
	bottom:0;
	width:100%;
	height:auto;
	border-radius:8px; 
	background-color:#3fbbc0;
	z-index:-1;
    transition:all ease 0.5s;
}
.medicion-sheet:hover:after{
 
    top:0;
}
.medicion-sheet i{
	color:#3fbbc0;
	font-size:64px;
}

.medicion-sheet h3{
	padding-top:8px;
}
.medicion-sheet p{
	padding-top:8px;
}


.medicion-sheet:hover i{
	color:white;
}
.medicion-sheet:hover h3{
	color:white;
}
.medicion-sheet:hover p{
	color:white;
}

/*--------------------- medicion SECTION END   -----------------------------------*/
/*--------------------- EMERGINCY SECTION START -----------------------------------*/

.emergency-section {
	background-color:#3fbbc0;
	
}
.emergency {
	color:white;
	padding-top:50px;
	text-align:center;
}

.emergency h2{
	font-weight:700;
}
.emergency p{
	color:#fff;
	padding-top:20px;
	
}
.nav-but {
	text-decoration:none;
    display:inline-block;
	text-align:center;
	padding:8px 18px;
	background-color:#3fbbc0;
	color:#fff;
	border-radius:50px;
    font-size:16px;	
	font-weight:200px;
    border: 2px solid white;
    margin-bottom: 25px;	
}
.nav-but:hover{
	
	background-color:white;
	color:#3fbbc0;
}
/*--------------------- EMERGINCY SECTION end  -----------------------------------*/
/*--------------------- about us SECTION START -----------------------------------*/
.about {
	
    margin-top: 20px;
	position:relative;
}
.about h2{
	font-size: 32px;
    font-weight: bold;
    
    padding-bottom: 20px;
}
.about p {
	padding-top:15px;
	padding-bottom: 30px;
}
.about-color {
	
	background-color:#3fbbc0;
	width:50px;
	height:2px;
	text-align:center;
	margin:0 auto;	
}
.about-img {
	width:100%;
	height:auto;	
}
.about-text h3 {
	font-weight: 600;
}
.about-text i{
	color:#3fbbc0;
}
/*--------------------- about us SECTION END -----------------------------------*/
/*--------------------- FIND OUT SECTION START -----------------------------------*/
.find-out {
	box-shadow: -10px -5px 40px 0 rgb(0 0 0 / 10%);
	padding-top:25px;
	padding-left:20px;
    margin-bottom:30px;
	margin-top:20px;
	background-color:white;
    height:235px;
	border-radius:5px; 
}
.find-out i{
	
	color:#3fbbc0;
}
.find-out h2 span{
	font-weight: 700;
	padding-left:10px;
    font-size:44px;	
}	
.find-out p{
	padding-top:20px;
	
}
.find-out a{
	padding-top:25px;
	text-decoration:none;
	color:gray;	
}
/*--------------------- FIND OUT SECTION END -----------------------------------*/
/*---------------------   LAB- SECTION START -----------------------------------*/
.lab-section {
	
}
.lab-parts-1 {
	position:relative;	
}
.lab-parts-1 i{
	
	position:absolute;
	font-size:45px;
    padding-top:19px;
    color:#3fbbc0;
    padding-left: 10px;
}
.lab-parts-1 h3 {
	font-weight:700px;
	font-size:20px;
    padding-top:18px;
    padding-left: 80px;
}
.lab-parts-1 p {
	color: #848484;
    padding-left: 80px;
}

/*---------------------   LAB- SECTION END  -----------------------------------*/
/*---------------------   SERVICE- SECTION START -----------------------------------*/

.service-section {
	margin-top:100px;

}
.service-header {
	padding-top:110px;
	height:75px;
}
.service-header h3 {
	font-weight:bold;
}
.service-header p {
	padding-top:30px;
	padding-bottom:15px;
}
.service-color{
	margin-top:15px;
	width:50px;
	height:2px;
	background-color:#3fbbc0;
}
.service-con {
	margin-top: 85px;
	
}

.service-con  i{
	width:100px;
    height:100px;
    margin-bottom: 20px;
    background: #fff;
	padding:10px 10px 3px 10px ;
    border-radius: 50%;
    transition: 0.5s;
	color:#3fbbc0;
	font-size:52px;
	box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
	
}
.service-con i:hover {
	box-shadow: 0px 0 25px rgb(63 187 192 / 30%);
}
.service-con  h4:hover {
	color:#3fbbc0;
}
.position-absolute {	
	left:50%;
}
.service-color .position-absolute{
	left:50%;
}
.service-con h4 {
	padding-top:20px;
	padding-bottom:10px;
}

.service-con p {
	padding-top:20px;
	padding-bottom:10px;
}

/*---------------------   SERVICE- SECTION end  -----------------------------------*/
/*-------------------- APPOINTMENT - SECTION START ---------------------------------*/
.appointment-section {
	background-color:#f3ffff;
	margin-top:20px;
   
}
.appointment-header p{
    padding-top:32px;
}	
.appointment-header h3{
    padding-top:20px;
	font-weight:bold;
}
.contact-message-2 {
	padding-top:15px;
	border-radius:5px;
}
.contact-message-2 input {
	border: 1px solid #ced4da;
	width:100%;
	height:44px;
	display:inline-block;
	padding-left:10px;	
}
.col-auto {
	padding-top:15px;
}
.contact-message-3{
	padding-top:15px;	
}
.contact-message-3 textarea {
    border: 1px solid #ced4da;
	border-radius:5px;	
	padding-top:15px;
	width:100%;
	height:140px;
	padding-left:10px;	
}
.button {
	border-radius: 50px;
    margin-left:41%;
    text-align: center;
    width:180px;
    margin-top:35px;
	margin:0 auto;
}
.form-control:focus {
     border-color:#0ec4cd;
    border-color:none!important;
    box-shadow:none !important;
}
.form-control {
	height:44px!important;
}
.form-select {
    height: 44px;
}
.btn:focus {
    outline: 0;
     box-shadow:none!important;
}

.btn-info:focus {
    box-shadow: none!important;
}
.btn-info {
	margin-top:20px;
	margin-bottom:60px;
}
/*-------------------- APPOINTMENT - SECTION END ---------------------------------*/
/*-------------------- DEPARTMENTS - SECTION START ---------------------------------*/
.department-section {
	margin-top: 15px;
	
}
.department-course {
	border-left: 6px solid transparent;
	height:100px;
	padding-top:10px;
	padding-left:50px;
}

.department-header h3{
	font-weight:bold;
	padding-top:20px;
}
.department-header p {
	padding-top:30px;
	padding-bottom:20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #252121;
    background-color: #f3ffff;
	border-left: 5px solid #3fbbc0;
}
.nav-link {
	text-align:left;
	padding:15px px 30px 0px;
    color: #151516;
}
.nav-link:focus, .nav-link:hover {
    color:#3fbbc0;
}
/*---
.departments .nav-link.active {
    background: #f7fcfc;
    border-color: #3fbbc0;
	border-left:6px solid;
}---*/
.nav-link:focus, .nav-link:hover {
    border-left: 5px solid #e9ecef;
    color: #3fbbc0;
}
.department h2{
	color:#3fbbc0;
	font-size: 26px;
    font-weight: 600;
	    margin-bottom: 20px;
}

/*-------------------- DEPARTMENTS - SECTION END ---------------------------------*/
/*-------------------- TESTMONISLS - SECTION START ---------------------------------*/
.testmonials-section {	
    margin-top:60px;
}
.testmonials-header h3 {
    font-size: 32px;
    font-weight: bold;
}
.testmonials-header p {
    padding-top:40px;
}
/*----
.item {
	height:250px;
	background:#f0fafa;

}
---*/
.item {
	background-color:#f3ffff;
}
.item p {
	
	padding:15px 15px 50px 15px;

	font-size:20px;
}
.text-img  {
	margin-left:30px;
}
.text-img img {
    border:6px solid #fff;
	border-radius: 50%;
	width:25%!important;
	height:25%;
}

.owl-carousel .owl-item img {
    margin-top: -45px!important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    font-size: 60px;
	
}
.owl-nav {
	text-align: center;
}
.item i{
	color:#78e3d9;
}
.testmonials-section .owl-dots .owl-dot.active{
	background-color:#78e3d9;
}	


.item i:first-child{
	display:inline-block;
	transform:translateY(-5px);
	
}
.item  i:last-child{
	display:inline-block;
	transform:translateY(5px);
	padding-left:5px;
	
}
	




/*-------------------- TESTMONISLS - SECTION END   ---------------------------------*/
/*-------------------- DOCTER - SECTION START ---------------------------------*/
.docter-section {
	margin-top:35px;
    background-color:#f7fcfc;
    
}
.docter-header h2 {
	font-weight:bold;
	padding-top:30px;
}
.docter-header p {
    padding-top:30px;
    padding-bottom:20px;
}	
.team-img {
    box-shadow: 0px 2px 15px rgb(63 187 192 / 10%);
	border-radius:10px;
	background-color:white;
    position:relative;
    margin-bottom:50px;
		   }
.team-img img{
    width:100%;
    height:235px;	
}		
.team-link {
    position:absolute;
	padding-left:18px;
	bottom:85px;	
}		
.team-link a i{
    line-height:35px;
    display:inline-block;
    width:49px!important;
    height:35px;
    margin:0 3px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	opacity:0;
	transition:all 0.3s ease;	
}	
.team-link.team-link:hover{
	
    opacity:0.6;
    transform:translateY:(0);	
	background-color:white;
	color:black; 
}
.team-img:hover .team-link a i{
	
    opacity:0.6;
    transform:translateY:(0);	
	 background-color:white;
	 color:black;	
}

	
.team-name h3{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    padding-left:8px;
    padding-top:15px;
}	
.team-name h5{
	padding-bottom:15px;
	font-size:15px;
    padding-left:8px;
    padding-top:10px;
	color:gray;
}

.team-img:hover a i{
color:blue;
}	

/*-------------------- DOCTER - SECTION  END  ---------------------------------*/

/*-------------------- GALLERY - SECTION START ---------------------------------*/

.gallery-header h2 {
	font-weight:600;
	padding-top:10px;
}
.gallery-header p {
	padding-top:30px;
	padding-bottom:20px;
}	
.owl-carousel .owl-item img{
	margin-top:0!important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    
    
    border-radius:100%!important;
    padding:5px!important;
    background-color:white;
	border:1px solid #78e3d9!important;
	margin-left:5px;
	text-align:center;

}
.owl-nav {
    display: none!important;
}

.owl-dots {
	margin-top:35px;
	text-align:center;
}
 .gallery-section .owl-dots .owl-dot.active{
	background-color:#78e3d9;
}	


/*-------------------- GALLERY - SECTION END  ---------------------------------*/

/*-------------------- PRICING - SECTION START ---------------------------------*/
.pricing-team  {
	
    box-shadow: 0px 0px 4px rgb(0 0 0 / 12%);
    position:relative;
    overflow:hidden;
    border-radius: 5px;	
}
.pricing {
	height:50px;
	background-color:#f8f8f8;
}
.pricing-header h2{
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}
.pricing-header p{
	padding-top:30px;
	padding-bottom:20px;
}
.pricing-team h3 {
	color:#3fbbc0;
	font-size:45px;
	padding-top:20px;
}
.pricing-team h3 sup {
    color:#3fbbc0;
	padding-top:20px;
	font-size:20px;
}
.pricing-team h3 span {
	color:black;
	text-align:center;
	font-size:20px;
}

.pricing-team h4{
	color:black;
	padding-top:15px;
	font-size:16px;
}
.pricing-team h5{
	color:black;
	padding-top:20px;
	font-size:15px;
}
.pricing-team p {
	font-size:15px;
	color:gray;
	text-decoration: line-through;
	}
.nav-but3 {  
    text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 6px 28px;
	background-color:#3fbbc0;
	color: #fff;
	border-radius: 5px;
    font-size: 15px;
    margin-top:15px; 
    transition:0.2s;
	border: 0.9px solid #3fbbc0;			  
}
.pricing-button {
	height:60px;
	background-color:#f8f8f8;
}
.pricing-1{
	color:white;
	height:50px;
	background-color:#3fbbc0;
}
.pricing-1 h4{
	color:white;
}
.pricing-design {
	
	width: 215px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px; 
    padding: 1px 0 3px 0; 
    background: #3fbbc0;
    color: #fff;
	
}
.pricing-design p{
	
	color:white;
	text-decoration:none;
}

/*-------------------- PRICING - SECTION END  ---------------------------------*/

/*-------------------- QUESTIOINS- SECTION START ---------------------------------*/
.qustions-section {
	
	margin-top:50px;
	background-color:#f7fcfc;
}
.qustions-header h2{
	padding-top:20px;
	font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}	
.qustions-header p{
	padding-top:30px;
	
}

.accordion-button:not(.collapsed) {
   
    background-color:#3fbbc0!important
    box-shadow:none!important;
}
.accordion-button:focus {
   
    border-color:none!important;
    box-shadow:none!important;
}
.accordion-header:hover{
	color:#3fbbc0;
}

.accordion-item {
    background-color:#f7fcfc;
    border: none!important;
	border-bottom:1px solid #a99b9b !important;
}
.accordion-button:not(.collapsed) {
     color:#3fbbc0; 
     background-color:#f7fcfc; 
    box-shadow:none!important;
}

element.style {
}
.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.accordion-button {
    background-color:#f7fcfc;
}

.accordion-button:hover {
    color: #3fbbc0;
}
/*-------------------- QUESTIOINS- SECTION END  ---------------------------------*/

/*-------------------- CONTACT- SECTION START ---------------------------------*/
.contact-section {
	margin-top:30px;
}
.contact-header p{
	padding-top:30px;
	padding-bottom:20px;
}
.contact-header h2{
	font-weight:bold;
	font-size:30px;
	padding-top:30px;
}
.contact-map {
	height:auto;
}

.contact-address {
	box-shadow: 0 0 20px rgb(214 215 216 / 50%);
	padding-top:20px;
	margin-top:30px;

	
}
.contact-email {
	padding-top:20px;
	box-shadow: 0 0 20px rgb(214 215 216 / 50%);
	margin-top:20px;
	height:180px;
	margin-bottom:50px;
	
}
.contact-message {
	box-shadow: 0 0 20px rgb(214 215 216 / 50%);
	margin-top: 30px;
	padding-top: 30px;
    box-shadow: 0 0 20px rgb(214 215 216 / 50%);
}

.contact-message-3 textarea {
	border-radius:5px;	
	padding-top:15px;
	width:100%;
	height:104px;
	padding-left:10px;	
}
.contact-address i{
	font-size:40px;
	padding:8px 8px 8px 8px;
    border-radius:50%;
	border:2px dotted #3fbbc0 ;
	color:#3fbbc0;	
}
.contact-address h3 {
    padding-top:18px;
	font-size:25px;
}

.contact-email i{
	font-size:20px;
	padding:8px 8px 8px 8px;
    border-radius:50px;
	border:2px dotted #3fbbc0 ;
	color:#3fbbc0;	
}
.contact-email h3 {
    padding-top:18px;
	font-size:20px;
}
.form-control {
    height:45px;
}
.btn-info2 {
	margin-top:20px!important;
	margin-bottom:50px!important;
    color:#white!important;
	margin:0 auto;
	width:50%;
	border-radius:5px;
}
.btn-info2:hover {
    background-color:#8fe1dd;
}
/*-------------------- CONTACT - SECTION END  ---------------------------------*/

/*-------------------- FOOTER - SECTION START ---------------------------------*/
.footer-section {
	background:#f6f6f6;
}
.footer-header {
	margin-top:50px;
	height:300px;
}
.footer-header h2 {
	font-size: 16px;   
	font-weight:600;
    font-size:24px;
}	
.footer-1 li{
	
	list-style:none;
	padding-top:15px;
}
.footer-link a {
	font-size: 18px;
    display: inline-block;
    background:#3fbbc0 ;
    color:white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
	text-decoration:none;
}
.footer-link a:hover{
	background-color:#8fe1dd;
}
.footer-1 a{
	color:gray;
	text-decoration:none;
}
.footer-1 h4{
	padding-top:15px;
	font-size:15px;
}
.footer-1 i{
	color:#3fbbc0;
}
.btn {
	background-color: #3fbbc0!important;
}
.btn-outline-secondary {
	color:white;
    border-color: #3fbbc0;
	
}
.form-control:focus {
    border-color:nane!important;
}
.footer-2 {
	margin-top:20px;
}
/*---------------
.form-control:focus {
    color:none!important; 
    background-color: #fff;
    border-color: none!important;
   
    box-shadow:none!important;
}----------------*/
.btn-outline-secondary:hover {
	border-color:#3fbbc0;
	background-color:#8fe1dd;
	
}


.input-group  {
	margin-top:40px;
}


/*-------------------------------------------------------------------*/
.made-in-section {
	  background-color:#eeeeee;
	  text-align:center;
}



.made {	 
    margin-top:20px;
	width:500px;
		   }
.made-in {
	color:gray;
	text-align:center;
	font-size:13px;
 
}	 
.made-in  a{
    text-decoration:none;
	color:#3fbbc0;
}





/*-----------------------------------------------------------*/






.department-section {
	margin-top: 15px;
	
}
.department-course {
	border-left: 6px solid transparent;
	height:100px;
	padding-top:10px;
	padding-left:50px;
}
.department-course:hover{
	border-left: 6px solid #0ec4cd;
	height:80px;
	background-color:#f3ffff;	
}
.department-course:hover h4{
	color:#0ec4cd;
}







